body {
    display: flex;
    flex-direction: column;
}
.header,.footer{
    background-color: #1f2937;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.header-logo{
    color: #F9FAF8;
    font-size:20px;
    font-weight: bold;
    margin-left: 10pc;
   
}
.header-links{
    color: #E5E7EB;
    font-size: 15px;
    margin-right: 10pc;
}
.middle{
    display: flex;
    flex-direction: column;
}
.first{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
}
.left{
    color: white;
    text-align: left;
    margin-left: 10pc;
    margin-top: 72px;
    margin-bottom: 72px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.highlighted{
    font-size: 48px;
    font-weight: bolder;
}
.right{
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 20%;
    margin-right: 10pc;
    margin-top: 72px;
    margin-bottom: 72px;
}
.signup-1{
    background-color: blue;
    color: white;
    padding: 4px 24px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
.second{
    padding-top: 24px;
    padding-bottom: 72px;
}
.second h3{
    text-align: center;
    font-size:30px ;
    font-weight: 900;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 72px;
}
.empty{
    outline: 2px solid blue;
    border-radius: 8px;
    width: 10pc;
    height: 10pc;
    text-align: center;
}
.box p{
    width: 10pc;
}
.third{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 48px 32pc;
}
.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}
.author{
    font-weight: bold;
    display: flex;
    justify-content: end;
}
.fourth{
    display: flex;
    background-color: #3882F6;
    color: white;
    margin: 5pc 14pc;
    border-radius: 8px;
    justify-content: space-around;
    padding: 24px;
}
.header-4{
    font-weight: bold;
    font-size:large
}
.signup-2{
    outline: 2px solid white;
    color: white;
    background-color: #3882F6;
    padding: 8px 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    cursor: pointer;
}
.footer{
    text-align: center;
    font-size: small;
    padding: 20px;
}